header{
background-color:rgb(150, 30, 210);
color:beige;
padding: 50px;
text-align: center;
}
.row{
    display: flex;
    align-content: center;
    align-items: center;
    background-color:antiquewhite;
}
.col-md-4{
    
    width: 33.33%;
    background-color:coral;
    color:black;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    height: 300px;
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    background-color: deeppink;
    color:beige;
    padding: 20px;
    text-align: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}